<link rel="stylesheet" href="{{ 'page-preloader.build.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ 'page-preloader.build.css' | asset_url }}"></noscript>

<div class="page-preloader-wrapper js-page-preloader">
	<div class="page-preloader"></div>
</div>
